<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />

        <title><%= dirz.get( 'pkg' ).name %></title>

        <link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="./css/index.css" />
    </head>

    <body>
        

        <script src="./js/main.js"></script>
    </body>
</html>
